:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --white: #fff;
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #9d9d9d;
  --dark: #05081e;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --violet: #9ea2ff;
  --green: #9cffc4;
}

body {
  margin-inline: auto;
  /* background-image: url(img/background.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background: var(--dark-grey);
}

table {
  width: 80%;
  margin: 40px auto;
  background: var(--green);
}

table.list {
  text-align: center;
  width: 100%;
}

td {
  border: 1px solid rgb(204, 200, 200);
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(even),
table.list thead > tr {
  background-color: rgb(204, 200, 200);
}

input[type="text"],
input[type="date"],
select,
input[type="number"] {
  width: 91%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(165, 161, 161);
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  background: #eee;
  padding: 6px 12px;
  margin: 15px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  background-color: #4b99d8;
}

input[type="reset"]:hover {
  background-color: #4b99d8;
}

button {
  background: #eee;
  padding: 6px 12px;
  margin: 15px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #4b99d8;
}
